_explication.html.erb
<h1>Sabemos que escoger un mecánico puede ser dificil</h1>
<h2>¡Hay tantos! ¿Como sabes en cual confiar?
<h1>¡Sabemos lo que buscas!</h1>
<h2>El mejor precio y servicio garantizado</h2>
<h1>Utiliza tu tiempo libre para lo que tí</h1>
<h2>No para ir al mecánico</h2>
<h1>Servicio personalizado y confiable</h1>
