_value-claim.html.erb

<h1>Tu auto necesita ir al taller, no tú</h1>
<h2> El servicio de tu auto a solo un click</h2>
<li>Mecánicos confiables</li>
<li>Recogemos tu auto donde y cuando nos indiques</li>
<li>Sin contratiempos ni tarifas ocultas</li>

 <%= link_to "solicita un servicios", user_cars_path(current_user) , class: "navbar-wagon-item navbar-wagon-link" %>
