<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= render partial: "value-claim" %>
</br>
<%= render partial: "explication" %>
</br>
<%= render partial: "testimonials" %>
</br>

