<h1>Appointments#index</h1>
<p>Find me in app/views/appointments/index.html.erb</p>


<% @appointments.each do |car| %>
  <%= car.car_id %>
  <% end %>


  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
