<h1>Appointments#new</h1>
<p>Find me in app/views/appointments/new.html.erb</p>

<%= simple_form_for car_appointments_path do |f| %>
<% f.error_notification %>

<%= f.input :description %>
<%= f.button :submit %>
<%end%>
