<h1>Cars#index</h1>
<p>Find me in app/views/cars/index.html.erb</p>


<h1>Tu garage</h1>

<% @cars.each do |car| %>
  <%= car.maker + " " + car.model %>
  <% end %>

<%= link_to "atras", root_path %>
